ul {
    list-style-type: none;
    height: 80px;
    width: 663px;
    margin: auto;
}

li {
    float: left;
}

ul a {
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #371C1C;
}